.notFound-page {
  align-items: center;
  background-color: rgb(228, 169, 61);
  display: flex;
  font-size: 25px;
  height: 100vh;
  justify-content: center;
}

.notFound-page .notFound-container {
    align-items: center;
    background-color: #fffaf2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 60%;
}

.notFound-page .notFound-container p {
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

.notFound-page .notFound-container button {
    background-color: orange;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 25px;
    margin: 20px;
    padding: 6px;
}
