.recipes-page {
  background-color: #fffaf2;
  margin-bottom: 50px;
}

#copied-popUp {
  background-color: rgb(116, 230, 116);
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: -290px;
  transition-delay: all 5s ease-in-out;
}

.recipes-page .categories-container {
  display: flex;
  justify-content: space-evenly;
}

.recipes-page .categories-container button {
  background: none;
  border: none;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipes-page .categories-container #category-selected {
  text-decoration: underline rgb(228, 169, 61) 3px;
}

.recipes-page .recipes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.recipes-page .recipes-container .recipe-card {
  background-color: rgb(228, 169, 61);
  border-radius: 15px;
  box-shadow: -3px 3px 10px 2px black;
  height: 190px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
}
.recipes-page .recipes-container .recipe-card a {
  color: black;
  text-decoration: none;
}

.recipes-page .recipes-container .recipe-card p {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 130px;
}

.recipes-page .recipes-container .recipe-card img {
  border-radius: 15px;
  max-width: 150px;
}

.recipe-details {
  font-size: 20px;
  margin-bottom: 50px;
}

.recipe-details img {
  border-radius: 0 0 50% 0;
  height: 300px;
  width: 100%;
}

.recipe-details .recipe-infos {
  padding: 20px;
}

.recipe-details .recipe-infos #recipe-category {
  background-color: rgb(228, 169, 61);
  border-radius: 15px;
  display: inline-block;
  margin: 10px 0 15px 0;
  min-width: 80px;
  text-align: center;
  padding: 5px;
}

.recipe-details .main-footer {
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  background-color: #ce8116;
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
}

.recipe-details .icons-container {
  position: absolute;
  right: 5px;
  top: 305px;
}

.recipe-details input {
  margin-right: 20px;
  transform: scale(2);
}

.recipe-details #ingredients {
  list-style: none;
  margin: 0 0 10px -35px;
}

.recipe-details .icons-container button {
  background: none;
  margin: 0;
}

.recipe-details .recomendations-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.recipe-details .recipes-container .recomendation-card {
  background-color: red;
}

.recipe-details  #recomendations-title {
  font-weight: 700;
  padding: 15px;
  text-align: center;
}

.recipe-details .recomendations-container p {
  text-align: center;
}

.recipe-details .recomendations-container img {
  border-radius: 15px;
  height: auto;
  width: 180px;
}

.recipe-details button {
  background-color: rgb(228, 169, 61);
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 1.2em;
  padding: 8px;
  margin-left: 120px;
}

.recipe-details button:disabled {
  background-color: rgba(228, 170, 61, 0.582);
  color: rgba(0, 0, 0, 0.582);
}